@model EntityLayer.Dtos.AdminDto
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Admin Ekle</h3>
<br />
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
<div class="form-group">
    @Html.Label(" Mail")
    @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AdminUserName)
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control",@type="password" })
    @Html.ValidationMessageFor(x => x.AdminPassword)
    <br />
    @Html.Label("Role")
    @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AdminRole)
    <br/>
    <button class="btn btn-primary">Kaydet</button>

</div>
}

