@model EntityLayer.Dtos.WriterDto
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Yazar Üye Ol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/login-form-20/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(/AdminLTE-3.0.4/login-form-20/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center"></h3>
                        @using (Html.BeginForm("WriterRegister", "Login", FormMethod.Post))
                        {
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control", @placeholder = "İsim" })
                                    @Html.ValidationMessageFor(x => x.WriterName)
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.WriterSurName, new { @class = "form-control", @placeholder = "Soyisim" })
                                    @Html.ValidationMessageFor(x => x.WriterSurName)
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control", @placeholder = "Yazar Ünvanı" })
                                    @Html.ValidationMessageFor(x => x.WriterTitle)
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control", @placeholder = "Hakkınızda" })
                                    @Html.ValidationMessageFor(x => x.WriterAbout)
                                </div>
                            </div>
                            
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(x => x.WriterMail, new { @type = "email", @class = "form-control", @placeholder = "Mail Adresi" })
                                    @Html.ValidationMessageFor(x => x.WriterMail)
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.WriterPassword, new { @type = "password", @class = "form-control", @placeholder = "Şifre" })
                                    @Html.ValidationMessageFor(x => x.WriterPassword)
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(x => x.WriterVerifyPassword, new { @type = "password", @class = "form-control", @placeholder = "Şifre Tekrar" })
                                    @Html.ValidationMessageFor(x => x.WriterVerifyPassword)
                                </div>
                            </div>


                            <div class="col-md-4">
                                <button class="form-control btn btn-primary submit px-3">Üye Ol</button>

                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-md-right">
                                        <a href="/Login/WriterLogin" style="color: #fff">Bir Hesabın Var Mı?</a>
                                    </div>
                                </div>
                            </div>
                        }
                        <p class="w-100 text-center">&mdash; Veya Sosyal Medya İle Üye Olun &mdash;</p>
                        <div class="social d-flex text-center">
                            <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                            <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/AdminLTE-3.0.4/login-form-20/js/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-20/js/popper.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-20/js/bootstrap.min.js"></script>
    <script src="~/AdminLTE-3.0.4/login-form-20/js/main.js"></script>

</body>
</html>

