@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Başlık Ekleme</h3>
<br />
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        @Html.Label("Başlık Kategorisi")
        @Html.DropDownListFor(x=>x.CategoryId ,(List<SelectListItem>)ViewBag.Categorys,"Kategori Seçiniz",new { @class="form-control" })
        @Html.ValidationMessageFor(x=>x.CategoryId)
        <br />
        <button class="btn btn-primary">Kaydet</button>

    </div>
}